<nav class="navbar navbar-dark" style="background-color: #448AFF">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">Medidas <%= process.env.APP_NAME  %> <span><img src= <%= (process.env.APP_NAME == 'Mau')? "img/gato.svg": "img/rule.svg"%>   width="30" alt="icono institucional"></span></a>
    </div>
</nav>